
<p>
  <form method="post" action="/color_pick">
    <label for="color_menu">Pick Color: </label>
    <select name="color_menu">
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
      <option value="yellow">Yellow</option>
      <option value="pink">Pink</option>
    </select>
    <input type="submit" value="submit">
  </form>
</p>
<p>
  <%= @mycolor %>
</p>
