<hr>
<form method="post">
  <div><label for="tempinc">Temperature in &deg;C</label></div>
  <div><input type="text" id="tempinc" name="temperature" value="">
    <input type="submit" value="Submit"></div>
</form>
